<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.ConnectionUI" version="15.0.26201" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Data" version="15.0.26201" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Design" version="15.0.26201" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26201" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26201" targetFramework="net452" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net452" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net452" />
  <package id="VSSDK.IDE.8" version="8.0.4" targetFramework="net452" />
  <package id="VSSDK.OLE.Interop" version="7.0.4" targetFramework="net452" />
  <package id="VSSDK.Shell.8" version="8.0.4" targetFramework="net452" />
  <package id="VSSDK.Shell.Interop" version="7.0.4" targetFramework="net452" />
  <package id="VSSDK.Shell.Interop.8" version="8.0.4" targetFramework="net452" />
  <package id="VSSDK.TextManager.Interop" version="7.0.4" targetFramework="net452" />
  <package id="VSSDK.TextManager.Interop.8" version="8.0.4" targetFramework="net452" />
</packages>